.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-image: radial-gradient(var(--mantine-color-default-border) 1px, transparent 1px);
  background-size: 24px 24px;
  transition: background-color 0.5s ease, color 0.5s ease !important;
}

.header {
  position: relative;
  z-index: 10;
}

.subheader {
  display: flex;
  justify-content: right;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.footer {
  position: relative;
  z-index: 10;
}
