body {
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.theme-transition-slow {
  transition:
    background-color 0.7s ease,
    color 0.7s ease,
    border-color 0.7s ease !important;
}

.theme-transition-fast {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease !important;
}
